#conteudo{
   margin: 5%;
    
    
   
   

}
.row{
    text-align: right;
  
  
   

}
.col{
   
   
}
.card{
    margin-left: 20%;
}
#butao{
    padding: 10px;
    text-align: center;
}
#conteudoDashboard{
    width: 800px;
    height: 1000px;
}
#conteudoDashboard1{
    width: 800px;
    height: 1000px;
}

#tabelaCompra{
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;
    padding: 5px;
    
}